.prices {
  max-width: 466px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include desktop {
    max-width: 482px;
  }

  &__description {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__link {
    @include reset-link;

    display: inline-block;
    vertical-align: middle;
    position: relative;
    align-self: flex-start;

    @include hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition-duration: 0.2s;
    }
  }

  &__text {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    vertical-align: middle;
  }

  &__arrow {
    @include square(24px);

    display: inline-block;
    vertical-align: middle;

    &--icon-arrow {
      background-image: url('@assets/icons/pink-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
