.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1000;
  width: 320px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-white);
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &--show {
    transform: translateX(0);
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }

  @include desktop {
    gap: 28px;
    transform: translateX(0);
    box-shadow: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding-block: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__logo {
    margin-block: -5px;
  }

  &__footer {
    margin-top: auto;
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__languages {
    @include desktop {
      margin-top: 24px;
    }
  }

  &__button {
    &--margin-left {
      margin-left: auto;
    }
  }
}
