.swiper {
  --swiper-pagination-color: var(--color-dot-active);
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-inactive-color: var(--color-dot);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 12px;
}
